<p-messages [(value)]="msgs"></p-messages>
<p-card header="ISO 8583 message (hex)">
  <input type="text" [(ngModel)]="result" style="width: 100%" pInputText pKeyFilter="hex"/>
  <p style="margin-top: .5em;">
    Len: {{result.length/2}} bytes
  </p>
  <h3>Message Editor</h3>
  <table class="main">
    <tr>
      <td>Message Type</td>
      <td>
        <p-inputMask [(ngModel)]="msgtype" mask="9999" size="4" required></p-inputMask>
      </td>
    </tr>
    <tr>
      <td>BMP 0<br/>Primary BMP</td>
      <td>
        <bmp [selectedValues]="bmp0" (onChange)="bmp0Change($event)"></bmp>
      </td>
    </tr>
    <tr *ngFor="let no of bmp0">
      <td *ngIf="no==1">BMP 1<br/>Secondary BMP</td>
      <td *ngIf="no==1">
        <bmp [selectedValues]="bmp1" [startNo]="65" (onChange)="bmp1Change($event)"></bmp>
      </td>
      <td *ngIf="no>1">
        BMP {{no}}<br/>{{fieldLabel(no)}}
        <div *ngIf="no==3 && emv"><img width="32" src="assets/emvchip.png"/></div>
      </td>
      <td *ngIf="no>1">
        <isofield [init]="bmps[no]" [no]="no" [def]="isodef[no]" [emv]="emv" (onChange)="bmpChange($event)"></isofield>
      </td>
    </tr>
    <tr *ngFor="let no of bmp1">
      <td>BMP {{no}}<br/>{{fieldLabel(no)}}</td>
      <td>
        <isofield [init]="bmps[no]" [no]="no" [def]="isodef[no]" [emv]="emv" (onChange)="bmpChange($event)"></isofield>
      </td>
    </tr>
  </table>
</p-card>
<p></p>
<p-card>
  <span class="footer"><a href="https://github.com/potpiejimmy/isobuilder">ISO 8583 Message Builder and Parser</a></span>
  <div id="versionfooter">{{version}}</div>
</p-card>
