@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

table.main td {
  border: 1px solid black;
  padding: 1em;
}

table.bmp th
{
  vertical-align: bottom;
  text-align: center;
}

table.bmp td
{
  border: none;
  padding: 0;
}

table.bmp th span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

#versionfooter {
  float: right;
  margin-right: 1em;
  font-size: 0.75em;
}
